
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS VARIABLES */

:root {
  --header-height: 4rem;
  /* COLORS */
  --first-color: rgba(0, 0, 0, 0.966);
  --first-color-alt: hsl(129, 44%, 94%);
  --second-color: hsl(34, 94%, 87%);
  --title-color: hsl(0, 0%, 13%);
  --text-color: hsl(60, 5%, 7%);
  --text-color-light: hsl(60, 1%, 56%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsla(120, 49%, 53%, 0.904);
  --border-color: hsl(129, 36%, 85%);
  --border-color-alt: hsl(113, 15%, 90%);

  /* Fonts and Topography */
  /* .5rem=8px | 1rem=16px */
  --body-font: "Lato", sans-serif;
  --second-font: "Spartan", sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.123rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /* FontWeight*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /* Transition */
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/* BAse */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}

body {
  background-color: var(--body-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-600);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

button,
textarea,
input {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Resusable CSS classes */

.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-block: 0.875;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem;
}

.section--lg {
  padding-block: 4rem;
}

.section__title {
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}

.section__title span {
  color: var(--first-color);
}

.form__input {
  border: 1px solid var(--border-color-alt);
  padding-inline: 1rem;
  height: 45px;
  border-radius: 0.25rem;
  font-size: var(--small-font-size);
}

.form {
  row-gap: 1rem;
}

.form__group {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.textarea {
  height: 200px;
  padding-block: 1rem;
  resize: none;
}

/* Header and NAv */

.header-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-color: black;
}

.header__paragraph {
  color: #eee5ae;
  font-weight: 600;
}

.nav__container {
  display: flex;
  background-color: black;
  color: #fff;
  height: 4rem;
  justify-content: space-evenly;
}

.nav,
.nav__menu,
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {
  /* background-color: var(--first-color); */
  height: calc(var(--header-height)+2.5rem);
  background: #000;
  justify-content: space-between;
  column-gap: 1rem;
}

.nav__logo-img {
  width: 85px;
  border-radius: 20%;
}

.nav__menu {
  /* background-color: var(--first-color); */
  flex-grow: 1;
  margin-left: 2.5rem;
}

.nav__list {
  column-gap: 2.5rem;
  text-align: right;
}

.nav__link {
  color: white;
  font-weight: var(--weight-400);
  transition: all 0.5s var(--transition);
}

/* Active Link */
.active-link,
.nav__link:hover {
  font-weight: var(--weight-600);
}

/* ======BTN============ */

.btn {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding-inline: 1.75rem;
  height: 50px;
  line-height: 50px;
  border-radius: 0.25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  transition: all 0.4 var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--first-color);
  border: 2px solid var(--first-color);
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* =================================== HOME ============================================== */

.hero__section{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-flex;
  height: 23.875rem;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  overflow-x: scroll;
}

.hero__section::-webkit-scrollbar {
  display: none;
}

.hero__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 38.125rem;
  height: 23.5rem;
  flex-shrink: 0;
  margin-left: 2rem;
  padding: 3rem;
  background-color: #BDE0FE;
  border-radius: 0.5rem;
  flex-shrink: 0;
  background-image: url(img/Rectangle\ 23.svg);
  background-repeat: no-repeat;
  background-position: right bottom, left top;

}

.hero__container:nth-child(2){
  background: rgba(255, 175, 204, 0.58);
}

.hero__container:nth-child(3){
  background-color: #BDE0FE;
}

.hero__container__img{
  display: flex;
  width: 14rem;
  height: 14rem;
  flex-shrink: 0;

  
}

.hero__heading{
  color: #000;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 31.375rem;
  margin-bottom: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.hero__content{
  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.4;
  margin-top: 1rem;
}


.home__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
}

.home__notification,
.home__alert{
  padding: 2rem;
  padding-top: 3rem;
  width: 34.8125rem;
  height: 50.8125rem;
  flex-shrink: 0;
}

.home__notification__heading,
.home__alert__heading{
  width: 12.0625rem;
  height: 2.0625rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: normal;
}

.home__notification-container,
.home__alert__container__meeting__container
{
  width: 28.375rem;
  height: 6.3125rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.home__notification-content-heading,
.home__alert__container__attendence__heading,
.home__alert__container__meeting__heading{
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.625rem;
  width: 12.75rem;
  height: 1.6875rem;
  flex-shrink: 0;
}

.home__notification-content-paragraph,
.home__alert__container__attendence__content,
.home__alert__container__meeting__content{
  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

.home__event-container-bg{
  width: 23.95738rem;
  height: 100%;
  transform: rotate(0.148deg);
  flex-shrink: 0;
  background: #F5F5F5;
  padding: 1rem;
}



.home__event{
  margin-top: 3rem;
  margin-left: 1.4rem;
}

.home__event__heading{
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 15.1875rem;
  height: 2.8125rem;
  flex-shrink: 0;
}

.home__event-content-box{
  display: flex;
  flex-direction: row;
  width: 30.875rem;
  height: 13rem;
  margin-left: -1rem;
  margin-top: 1rem;
  margin-bottom: -4rem;
  padding-left: 1rem;
}

.home__event-content-date{
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  background: #0500EB;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-top: 2rem;
}

.home__event-content-date-number{
  width: 0.96875rem;
  height: 2.375rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home__event-content-description{
  width: 15.69025rem;
  height: 1.5625rem;
  flex-shrink: 0;
  margin-left: -1rem;
  
}

.home__event-content-heading{
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 15.69025rem;
  height: 1.5625rem;
  margin-bottom:.5rem ;
  flex-shrink: 0;
}

.home__event-content-paragraph{
  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 17.5rem;
  height: 5.9375rem;
  flex-shrink: 0;
  opacity: 0.76;
}

.home__event-content-link{
  color: blue;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.8rem;
  opacity: 1;
}

.home__alert__container__attendence__container{
  margin-bottom: 2rem;
}

.home__alert__container__meeting__heading,
.home__alert__container__meeting__container{
  margin-bottom: 0.6rem;
}


.home__alert__container__attendence__link,
.home__alert__container__meeting__link{
  margin-top: 0.5rem;
}


.home__application{
  width: 16.75rem;
  height: 14.9375rem;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: -30rem;
  margin-left: 3;
  column-gap: 2rem;
  gap: 2rem;
  padding: 1rem;
}

.home__application-content-box-icon{
  width: 7.125rem;
  height: 7.125rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: rgba(225, 117, 45, 0.93);
}

.home__application-content-heading{
  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 1rem;
  width: 2.125rem;
  height: 1.1875rem;
  flex-shrink: 0;
  padding: 1rem;
}






/*===================== NEWSLETTER================================ */
.newsletter {
  background-color: #f0f0f0;
}

.newsletter__container {
  grid-template-columns: repeat(2, 4fr) 5fr;
  align-items: center;
  column-gap: 2rem;
}

.newsletter__title {
  column-gap: 1rem;
  font-size: var(--large-font-size);
}

.newsletter__icon {
  width: 40px;
}

.newsletter__description {
  color: var(--first-color);
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  text-align: center;
}

.newsletter__form {
  display: flex;
}

.newsletter__input,
.newsletter__btn {
  font-size: var(--small-font-size);
}

.newsletter__input {
  background-color: var(--body-color);
  padding-inline: 1.25rem;
  width: 100%;
  height: 48px;
  border-radius: 0.25rem 0 0 0.25rem;
}

.newsletter__btn {
  background-color: var(--title-color);
  color: var(--body-color);
  padding-inline: 2rem;

  border-radius: 0 0.25rem 0.25rem 0;
  font-family: var(--second-font);
  font-weight: var(--weight-600);
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s var(--transition);
}

.newsletter__btn:hover {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

/* Profile */

.profile-rectangle-pg{
    height: 10.5rem;
    flex-shrink: 0;
    background: linear-gradient(90deg, #FFDD4C 4.62%, rgba(49, 179, 243, 0.95) 24.15%, rgba(225, 117, 45, 0.93) 36.95%, rgba(17, 65, 89, 0.90) 54.4%, #00E6FF 69.2%);
}

.avathar{
    width: 13.6875rem;
    height: 13.25rem;
    overflow: hidden;
    background-image: url(img/Ellipse1.png);
    background-size: cover;
    border-radius: 50%;
    margin-top: -4.5rem;
    margin-left: 2rem;
}

.profile__grid{
    display: grid;
    grid-template-columns: repeat(2,5fr);
    gap: 8rem;
    
}

.basic__details{
    font-family: Inter;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    margin-left: 4rem;
}

.year-college{
    font-size: 1rem;
    opacity: 0.54;
}

.profile-btns{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1.250rem;
}

.profile__btn{
    width: 6.125rem;
    height: 2.933rem;
    border-radius: 3rem;
    color: white;
    font-weight: 600;
    background: #000;
}

.profile__btn:nth-child(2){
    width: 6.125rem;
    height: 2.933rem;
    border-radius: 10rem;
    color:black;
    background-color: transparent;
    font-weight: 600;
    border: 0.1rem solid  #000;
}

.current__role-p,
.skill__header{
    display: flex;
    margin: 2rem 1rem 1rem 0rem;
    justify-content: flex-end;
    font-weight: 800;
    opacity: 0.46;
    font-size: 1.25rem;
    
}

.skillset{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:2rem;
}

.skill__list,
.current__role-description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 6.6875rem;
    height: 2.75rem;
    font-weight: 700;
    border-radius: 11.8125rem;
    background: #fbece3;
}

.current__role-description{
    background:#f3f4f5 ;
}

.profile__valuables{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 4rem;
    gap: 2rem;
}

.profile__valuable{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 27.6875rem;
    height: 9.41138rem;
    padding: 1rem;
    transform: rotate(-0.074deg);
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: #F2F7FE;
}

.profile__valuable-paragraph{
    margin-top: 1rem;
    opacity: 0.7;
}

.profile__valuable-btn{
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}



/* LOGIN AND REGISTER */

.login-register__container {
    grid-template-columns: repeat(2, 4fr);
    align-items: flex-start;
  }
  
  .social__login-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: -6rem;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .social__login-fb-btn {
    color: #fff;
    font-family: Helvetica;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 345px;
    padding: 15px;
    align-items: flex-start;
    text-align: center;
    margin-top: 20px;
    gap: 15px;
    border-radius: 10px;
    background: #1877f2;
  }
  
  .social__login-gg-btn {
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 345px;
    padding: 15px;
    align-items: flex-start;
    text-align: center;
    margin-top: 20px;
    gap: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17), 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
  }
  
  .social__login-apple-btn {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 345px;
    padding: 15px;
    align-items: flex-start;
    text-align: center;
    margin-top: 20px;
    gap: 15px;
    border-radius: 0.625rem;
    background: #000;
  }
  
  .login,
  .register {
    border: 1px solid var(--border-color-alt);
    padding: 2rem;
    border-radius: 0.5fr;
  }
  
/* FOOTER */

.footer__container {
  grid-template-columns: 4.5fr repeat(2, 2fr) 3.5fr;
  padding-block: 2.5rem;
}

.footer__logo-img {
  width: 320px;
  border-radius: 0.5rem;
}

.footer__subtitle {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-block: 1.25rem 0.625rem;
}

.footer__description {
  margin-bottom: 0.25rem;
}

.footer__description span {
  font-weight: var(--weight-600);
}

.footer__social .footer__subtitle {
  margin-top: 1.875rem;
}

.footer__social-links {
  column-gap: 0.25rem;
}

.footer__social-icon {
  width: 20px;
  opacity: 0.7;
}

.footer__title {
  font-size: var(--large-font-size);
  margin-block: 1rem 1.25rem;
}

.footer__link {
  color: var(--title-color);
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  display: block;
  transition: all 0.3s var(--transition);
}

.footer__link:hover {
  color: var(--first-color);
  margin-left: 0.25rem;
}

